<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myBackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      Welcome to MyPetPal!!
    </ion-card-header>
    <ion-card-content>
      <p>This App is your one stop solution for all your pet needs. For now the app is capable of storing your pet information and giving reminders that you set.</p>
      <br>
      <p>Stay excited for a more feature rich release in the next few months. </p>
      <br>
      <br>
      <p>Cheers</p>
      <br>
      <p>MyPetPal Team</p>
    </ion-card-content>
    <img src="assets/photo/logo.png">

    <ion-card-content>
      © Copyright 2017 Saravanan Duraisamy
    </ion-card-content>
  </ion-card>

</ion-content>
