<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myBackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      Login
      <ion-icon item-right name="log-in"></ion-icon>
    </ion-list-header>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="email"></ion-input>      
    </ion-item>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password"></ion-input>      
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button large color="secondary" outline>
              <ion-icon name="checkmark"></ion-icon>
            </button>
          </ion-col>            
          <ion-col>
            <button ion-button large color="danger" outline>
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <button ion-button large clear style="text-transform: none;" (click)="register()">Register</button>
    </ion-item>
    
  </ion-list>

</ion-content>
