<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="myBackground">

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>        
    <ion-list-header>
      Register
    </ion-list-header>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="Text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contact Number</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Repeat Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button color="secondary" outline>
              <ion-icon name="checkmark"></ion-icon>
            </button>
          </ion-col>            
          <ion-col>
            <button ion-button color="danger" outline>
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
