<!--
  Generated template for the ReminderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myBackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reminder</ion-title>
    <ion-buttons end>
    <button *ngIf="remFlag" ion-button (click)="editReminder(reminder)">
      <ion-icon name="create"></ion-icon> 
    </button>
    <button *ngIf="!remFlag" ion-button (click)="deleteReminder(reminder)">
      <ion-icon name="trash"></ion-icon> 
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card> 
    <ion-card-header color="primary">
      <ion-card-title>
          {{reminder.date | date}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
       <ion-col col-6>          
          <h2>{{reminder.type}}</h2>
        </ion-col>
        <ion-col col-6 >
          <ion-chip style="float:right" color="primary">
            <ion-label>{{reminder.pname}}</ion-label>
          </ion-chip>
        </ion-col>
     </ion-row>     
    </ion-card-content> 
  </ion-card>
  <ion-card>
    <ion-card-header>Details</ion-card-header>
    <ion-card-content>
      <p>{{reminder.details}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-list-header>
        Notifications
      </ion-list-header>
      <ion-item>
        <ion-label  style="opacity:1">On The Day</ion-label>
        <ion-toggle [ngModel]="reminder.notifications.onTheDay" disabled="true"   style="opacity:1"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label style="opacity:1">One Day Before</ion-label>
        <ion-toggle [ngModel]="reminder.notifications.oneDayBefore" disabled="true" style="opacity:1"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label style="opacity:1">Two Days Before</ion-label>
        <ion-toggle [ngModel]="reminder.notifications.twoDaysBefore" disabled="true" style="opacity:1"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label style="opacity:1">Three Days Before</ion-label>
        <ion-toggle [ngModel]="reminder.notifications.threeDaysBefore" disabled="true" style="opacity:1"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label style="opacity:1">One Week Before</ion-label>
        <ion-toggle [ngModel]="reminder.notifications.oneWeekBefore" disabled="true" style="opacity:1"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label style="opacity:1">Two Weeks Before</ion-label>
        <ion-toggle [ngModel]="reminder.notifications.twoWeeksBefore" disabled="true" style="opacity:1"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label style="opacity:1">Three Weeks Before</ion-label>
        <ion-toggle [ngModel]="reminder.notifications.threeWeeksBefore" disabled="true" style="opacity:1"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label style="opacity:1">One Month Before</ion-label>
        <ion-toggle [ngModel]="reminder.notifications.oneMonthBefore" disabled="true" style="opacity:1"></ion-toggle>
      </ion-item>
    </ion-list>

  </ion-card>  

</ion-content>
