<!-- Generated template for the GalleryViewComponent component -->
<div>
    <div *ngIf="twoPicRow"> 
        <ion-item *ngFor="let disImg of dispImg">
          <ion-row>
            <ion-col col-6>
              <img [src]="disImg.first" name="img1" (click)="launchGalleryModal(disImg.first)">
            </ion-col>
            <ion-col col-6>
              <img [src]="disImg.second" name="img2" (click)="launchGalleryModal(disImg.second)">
            </ion-col>      
          </ion-row>
        </ion-item>
      </div>
    <ion-item *ngIf = "onePicRow && fullWidthFlag" >
      <img [src]="lastImg" (click)="launchGalleryModal(lastImg)">
    </ion-item>
    <ion-item *ngIf = "onePicRow && !fullWidthFlag" >
      <img [src]="lastImg" class="resize" (click)="launchGalleryModal(lastImg)">
    </ion-item>
    
</div>
