gallery-view {

    img.resize{

        //max-height:200px;
        max-width: 50%;
        width:auto;
        height:auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
                
    }
}
