<!--
  Generated template for the AddEditInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myBackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="petListFlag">
    <ion-card>
      <ion-card-content>
        Nothing to show here. Please begin by adding a Pet first. 
      </ion-card-content>
    </ion-card>

  </div>
  <div *ngIf="!petListFlag">
  <form #infoForm = "ngForm" (ngSubmit)= "saveInfo()">
  <ion-list>
    <ion-item-divider color="primary">
      <h1>{{info.pname}}</h1>
    </ion-item-divider>
    <ion-item>
      <ion-label fixed>Date *</ion-label>
      <ion-datetime required displayFormat="DD-MMM-YYYY" pickerFormat="DD-MMM-YYYY" 
      name="date" [(ngModel)]="info.date" min="1980" [max]="maxDt"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label fixed>Type *</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="info.type" name="type" required>
        <ion-option selected="true" value="Vaccination">Vaccination</ion-option>
        <ion-option value="Cosmetic">Cosmetic</ion-option>
        <ion-option value="Sickness">Sickness</ion-option>
        <ion-option value="Medication">Medication</ion-option>
        <ion-option value="Reports">Reports</ion-option>
        <ion-option value="Others">Others</ion-option>
      </ion-select>
    </ion-item>    
    <ion-item>
      <ion-label>Details *</ion-label>
      <ion-textarea [(ngModel)]="info.details" name="details" rows="6" required></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!camStatus">
      <button ion-button medium clear style="text-transform: none;" (click)="addPhoto()" type="button">
        <ion-icon name="add-circle"></ion-icon>&nbsp; Add Photo
      </button>       
    </ion-item>

     <div *ngIf="camStatus">       
        <gallery-view [options]="galViewOptions" (dataRefresh)="refreshData($event)"></gallery-view>
        <ion-item>
          <button ion-button medium clear style="text-transform: none;" (click)="addPhoto()" type="button">
            <ion-icon name="add-circle"></ion-icon>&nbsp; Add More Photos          
          </button>  
        </ion-item>  
       
    </div>
    <ion-item>
      <ion-note>
        All * fields are required. 
      </ion-note>

    </ion-item>
    <ion-item>
      <ion-grid>
                <ion-row>
                <ion-col width-50>
                    <button ion-button large color="secondary" outline type="submit" [disabled]="!infoForm.form.valid || !petNullValidator()">
                    <ion-icon name="checkmark"></ion-icon>
                    </button>
                </ion-col>            
                <ion-col>
                    <button ion-button large color="danger" outline (click)="deleteInfo(info)" type="button">
                    <ion-icon name="close"></ion-icon>
                    </button>
                </ion-col>
                </ion-row>
            </ion-grid>

    </ion-item> 
  </ion-list>
  </form>
  </div>

</ion-content>
