<!--
  Generated template for the PetNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pet New  {{title}}</ion-title>
    <ion-buttons end *ngIf="title == 'Pet'">
      <button ion-button (click)="editPet(pet)">
        <ion-icon name="create"></ion-icon> 
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <form #petForm="ngForm" (ngSubmit)="savePet()">
    <ion-list>
      <ion-item>
        <ion-label stacked>Pet Name *</ion-label>
        <ion-input type="text" required name="name" [(ngModel)]="pet.name"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label stacked>Date of Birth *</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="pet.dob" name="dob"
          min="1980" [max]="maxDt" required>
          </ion-datetime>          
      </ion-item>
      <ion-item>
        <ion-label stacked>Type *</ion-label>
        <ion-select [(ngModel)]="pet.type" name="type" required>
          <ion-option *ngFor="let petType of petTypes" [value]="petType">{{petType}}</ion-option>
        </ion-select>         
      </ion-item>
      <ion-item>
        <ion-label stacked>Breed Name *</ion-label>
        <ion-input type="text" required name="breedName" [(ngModel)]="pet.breedName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Gender *</ion-label>
        <ion-select [(ngModel)]="pet.gender" name="gender" required>
          <ion-option *ngFor="let gender of genders" [value]="gender">{{gender}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!camStatus">
        <button ion-button medium clear style="text-transform: none;" type="button" (click)="addPhoto()">
          <ion-icon name="add-circle"></ion-icon>&nbsp; Add Profile Picture
        </button>        
      </ion-item>
      <ion-item *ngIf="camStatus">
        <img [src]="pet.img" [ngModel]="pet.img" name="img" required>
      </ion-item>
      <ion-item *ngIf="camStatus">               
          <button ion-button medium clear style="text-transform: none;" type="button" (click)="addPhoto()">
              <ion-icon name="create"></ion-icon>&nbsp; Change Profile Picture
          </button>           
      </ion-item>
      <ion-item>
          <ion-note>
              All * fields are required.
          </ion-note>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </form>
  

</ion-content>
