<ion-header>
  <ion-navbar color="myBackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
    
      <ion-card *ngFor="let note of nots">
        
      <h2>{{note.id}}</h2>
      <p>{{note.text}}</p>
      
          <p>{{note.at}}</p>
        
    
      
      
      </ion-card>
  
    <!--
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
  -->

</ion-content>
