<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header > 
  <ion-navbar color="myBackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
 
  <div *ngIf="!petFlag">
    
    <ion-card>
      <ion-card-content>
        Hello! 
        <br>
        Welcome to MyPetPal!
        <br>
        Now that you are here, lets get you started. Click on the Add Pet button below to add a your pet into the App. 
        At any point in time please use the Help page in the menu to get more understanding and information about the App. 
        <br>
        For any questions and suggestions please contact me at: mypetpal.help@gmail.com
        
        
      </ion-card-content>
    </ion-card>
   
  </div>

  <div *ngIf="petFlag">

    <ion-card *ngFor="let pet of pets" (click)="callPet(pet)" type="button">
      <ion-card-title>&nbsp;{{pet.name}}
      </ion-card-title>     
      <img [src]="pet.img" alt="Oops Image Not Found" class="resize">   
    </ion-card>
  
  </div>
</ion-content>



<ion-footer>
  <ion-toolbar>    
    <button ion-button block (click)="addPet()"><ion-icon name="add-circle"><span> </span>Add Pet</ion-icon> </button>
  </ion-toolbar>  
</ion-footer>

