page-home {

    img.resize{

        max-height:200px;
        max-width: 100%;
        width:auto;
        height:auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
                
    }

    div.itemalign{
        display: flex;
        //align-items: flex-start;
        
    }

}
