<!--
  Generated template for the HelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myBackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Help</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content> 
      <p>Please expand the relevant options to read more.</p>
    </ion-card-content>
  </ion-card>
      
  <ion-list>    
    <ion-item>
      
    </ion-item>
    
    <button ion-item detail-none (click)="expandItem(0)">
      Pet
    <ion-icon style="float:right" name="arrow-dropdown" *ngIf="!expanded[0]"></ion-icon>
    <ion-icon style="float:right" name="arrow-dropup" *ngIf="expanded[0]"></ion-icon>
    <expandable [expanded]="expanded[0]">
      <br>
      Start by adding a pet by clicking the Add Pet button in the home screen. The Pet Form lets you store information such as 
      date of birth, breed name and pet type. Also you can add a profile picture of the pet. 
    </expandable>
    </button>
    <button ion-item detail-none (click)="expandItem(1)">
      Info
    <ion-icon style="float:right" name="arrow-dropdown" *ngIf="!expanded[1]"></ion-icon>
    <ion-icon style="float:right" name="arrow-dropup" *ngIf="expanded[1]"></ion-icon>
    <expandable [expanded]="expanded[1]">
      <br>
      Please use this page after you create the pet. 
      <br>
      You can create Pet specific information using this form. 
      Information is always tied to a date and you can store information of different kinds such as Vaccination, Medication etc.
      The idea behind this page to help you store your pet related data in a organized manner so you can use it in the future. 
      This page lets you add a gallery of pictures as well so you can use it as a memory maker storing memories of our dear darlings.    
    </expandable>
    </button>
    <button ion-item detail-none (click)="expandItem(2)">
      Reminder
    <ion-icon style="float:right" name="arrow-dropdown" *ngIf="!expanded[2]"></ion-icon>
    <ion-icon style="float:right" name="arrow-dropup" *ngIf="expanded[2]"></ion-icon>
    <expandable [expanded]="expanded[2]">
      <br> 
      You can use this page to set reminders. 
      The idea behind this page is to help you remember important dates and occassions in your pet's life such as Vaccination dates, 
      Doctor appoinments, Deworming etc.         
    </expandable>
    </button>
  </ion-list>
  <ion-card>
    <ion-card-title>
      Contact
    </ion-card-title>
    <ion-card-content>
      <p>mypetpal.help@gmail.com</p>
    </ion-card-content>
  </ion-card>
    

</ion-content>
