<!--
  Generated template for the AddEditPetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myBackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form #petForm="ngForm" (ngSubmit)="saveAddPet(pet)">   
         
    <ion-list>
            <ion-item [hidden]=true>
                <ion-input type="number" name="id" [(ngModel)]="pet.id" default=0></ion-input>
            </ion-item>
            
            <ion-item>
                <ion-label >Pet Name *</ion-label>
                <ion-input type="text" required name="name" [(ngModel)]="pet.name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label >Date of Birth *</ion-label>                
                <ion-datetime displayFormat="DD-MMM-YYYY" pickerFormat="DD MMM YYYY" 
                [(ngModel)]="pet.dob" name="dob" min="1980" [max]="maxDt" required >
                    
                </ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label >Type *</ion-label>
                <ion-select [(ngModel)]="pet.type" name="type" required>
                    <ion-option selected="true" value="Dog">Dog</ion-option>
                    <ion-option value="Cat">Cat</ion-option>
                    <ion-option value="Fish">Fish</ion-option>
                    <ion-option value="Birds">Birds</ion-option>
                    <ion-option value="Others">Others</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label >Breed Name *</ion-label>
                <ion-input type="text" required [(ngModel)]="pet.breedName" name="breedName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label >Gender *</ion-label>
                <ion-select [(ngModel)]="pet.gender" name="gender" required>
                    <ion-option selected="true" value="Male">Male</ion-option>
                    <ion-option value="Female">Female</ion-option>
                    <ion-option value="Others / Not Known">Others / Not Known</ion-option>
                </ion-select>    
            </ion-item>
            <ion-item *ngIf="!camStatus">
                <button ion-button medium clear style="text-transform: none;" type="button" (click)="addPhoto()">
                    <ion-icon name="add-circle"></ion-icon>&nbsp; Add Profile Picture *
                </button>                
            </ion-item>              
            <ion-item *ngIf="camStatus">
                
                <img [src]="pet.img" [ngModel]="pet.img" name="img" required>
            </ion-item>
            <ion-item *ngIf="camStatus">               
                <button ion-button medium clear style="text-transform: none;" type="button" (click)="addPhoto()">
                    <ion-icon name="create"></ion-icon>&nbsp; Change Profile Picture
                </button>
                 
            </ion-item>
            <ion-item>
                <ion-note>
                    All * fields are required.
                </ion-note>

            </ion-item>  

            <ion-item>
                <ion-grid>
                    <ion-row>
                    <ion-col width-50>
                        <button ion-button large color="secondary" outline type="submit" 
                        [disabled]="!petForm.form.valid || !camStatus">
                        <ion-icon name="checkmark"></ion-icon>
                        </button>
                    </ion-col>            
                    <ion-col>
                        <button ion-button large color="danger" outline type="button" (click)="cancelAddPet()">
                        <ion-icon name="close"></ion-icon>
                        </button>
                    </ion-col>
                    </ion-row>
                </ion-grid>
                
            </ion-item>    
        </ion-list>
    </form>  

    
</ion-content>
