<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myBackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Info</ion-title>
    <ion-buttons end>
    <button ion-button (click)="editInfo(info)">
      <ion-icon name="create"></ion-icon> 
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngIf="status">
    <ion-item>
      <ion-card-title>
        <h1>{{info.pname}}</h1>
        <h3>{{info.date | date}}</h3>        
      </ion-card-title>
      <h2>{{info.type}}</h2>
    </ion-item>
    <ion-item text-wrap>
      <p>{{info.details}}</p>
    </ion-item>
    <gallery-view [options]="galViewOptions" (dataRefresh)="refreshData($event)"></gallery-view>    
    
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button style="text-transform:none;" (click)="setReminder()">
        Set Reminder
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-footer>
