<!--
  Generated template for the MoreInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myBackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>More Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card  *ngIf="infoDataFlag">
    <ion-card-content>
      No Info to show. Please get started by adding a pet. 
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="!infoDataFlag">
    <ion-item-divider>
      {{pname}}
    </ion-item-divider>
    <div *ngIf="petInfoDataFlag">
      <ion-card>
        <ion-card-content>
          No Info to show for this pet. 
        </ion-card-content>
      </ion-card>

    </div>
    <div *ngIf="!petInfoDataFlag">
      <button ion-item (click)="detailedInfo(info)" *ngFor="let info of infos">
        <ion-row>
          <ion-col col-4>
            <p>{{info.date | date}}</p>  
          </ion-col>
          <ion-col col-8>
              {{info.details}}
          </ion-col>
        </ion-row>
        
      </button>
    </div>
  </ion-list>

</ion-content>
