<!--
  Generated template for the RemindersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myBackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reminders</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card *ngIf="remDataFlag">
    <ion-card-content >
      No reminders to display. 
    </ion-card-content>
  </ion-card>

  <div *ngIf="!remDataFlag">
    <ion-card *ngFor="let reminder of reminders" (click)="callReminderPage(reminder)" type="button">    
      <ion-row>
        <ion-col col-6>
            <h2>{{reminder.date | date}}</h2>
            <h3>{{reminder.type}}</h3>
      </ion-col>
      <ion-col col-6 >
        <ion-chip style="float:right" color="primary">
          <ion-label>{{reminder.pname}}</ion-label>
        </ion-chip>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <p>{{reminder.details}}</p>
        </ion-col>    
      </ion-row>
      
    </ion-card>

    
  </div>



  


</ion-content>
