<!--
  Generated template for the PetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myBackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pet</ion-title>
    <ion-buttons end>
    <button ion-button (click)="editPet(pet)">
      <ion-icon name="create"></ion-icon> 
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content>
  <div *ngIf="status">
    <ion-card>
      
      
      <ion-item>
        <ion-card-title>{{pet.name}}</ion-card-title>  
        <h2>&nbsp;{{pet.type}}</h2>
      </ion-item>
      <img [src]="pet.img">
      <ion-card-content>
            <ion-row>
              <ion-col col-6>
                <p>{{age}}</p> 
              </ion-col>
              <ion-col col-6>
                <ion-badge style="float:right">
                {{pet.gender}}
                </ion-badge>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                ( {{pet.dob | date}} )    
              </ion-col>
            </ion-row>
            <ion-row>  
              <ion-col>
                {{pet.breedName}} 
              </ion-col>
            </ion-row>       
    </ion-card-content>
    </ion-card>
  </div>

  <ion-card>
    <ion-card-header>
      Info
    </ion-card-header>

    <ion-card-content *ngIf="!statusInfo">
      <h3>No Info to Display</h3>
    </ion-card-content>
    <ion-card-content *ngIf="statusInfo" >

      <ion-list>      
      
      
        <button ion-item *ngFor="let info of infos" (click)="callInfo(info)">
          <ion-badge >{{info.date | date}}</ion-badge>
          
          <p class="big">{{info.details}}</p>
        </button>     
      
        

      </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    
      <ion-segment>
        <ion-segment-button style="text-transform: none;" (click)="addInfo(pet)">
          Add Info
        </ion-segment-button>
        <ion-segment-button style="text-transform: none;" (click)="callMoreInfo(pet)">
          More Info
        </ion-segment-button>
      </ion-segment>
    
  </ion-toolbar>
</ion-footer>
