<!--
  Generated template for the AddEditReminderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myBackground">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <form #reminderForm="ngForm" (ngSubmit)="saveReminder()" >
    <ion-list>
      <ion-item>
        <ion-label>Date *</ion-label>
        <ion-datetime required name="date" [(ngModel)]="reminder.date" pickerFormat="DD MMM YYYY" displayFormat="DD MMM YYYY"
                      [min]="minDate()" max="2050" (ngModelChange)="dateDisplayCtrl(reminder.date)"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Pet *</ion-label>
        <ion-select required [(ngModel)]="reminder.pid" name="pid" interface="action-sheet">
        <ion-option *ngFor="let pet of petDtl" [value]="pet.id">{{pet.name}}</ion-option>
        </ion-select>        
      </ion-item>
      <ion-item>
        <ion-label>Type *</ion-label>

        <ion-select interface="action-sheet"  required [(ngModel)]="reminder.type" name="type">
          <ion-option value="Vaccination">Vaccination</ion-option>
          <ion-option value="Cosmetic">Cosmetic</ion-option>
          <ion-option value="Sickness">Sickness</ion-option>
          <ion-option value="Medication">Medication</ion-option>
          <ion-option value="Reports">Reports</ion-option>
          <ion-option value="Others">Others</ion-option>
        </ion-select>
        
      </ion-item>
      <ion-item>
        <ion-label>Details *</ion-label>
        <ion-textarea rows="4" required [(ngModel)]="reminder.details" name="details"></ion-textarea>  
      </ion-item>
      <ion-item-divider>Notifications</ion-item-divider>
      <ion-item>
        <ion-label>On the Day</ion-label>
        <ion-toggle [(ngModel)]="reminder.notifications.onTheDay" name="onTheDay" 
        [disabled]="!notificationFlag[0]"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>One Day Before</ion-label>
        <ion-toggle [(ngModel)]="reminder.notifications.oneDayBefore" name="oneDayBefore" 
        [disabled]="!notificationFlag[1]"></ion-toggle>
        
      </ion-item>
      <ion-item>
        <ion-label>Two Days Before</ion-label>
        <ion-toggle [(ngModel)]="reminder.notifications.twoDaysBefore" name="twoDaysBefore" 
        [disabled]="!notificationFlag[2]"></ion-toggle>
        
      </ion-item>
      <ion-item>
        <ion-label>Three Days Before</ion-label>
        <ion-toggle [(ngModel)]="reminder.notifications.threeDaysBefore" name="threeDaysBefore" 
        [disabled]="!notificationFlag[3]"></ion-toggle>
        
      </ion-item>
      <ion-item>
        <ion-label>One Week Before</ion-label>
        <ion-toggle [(ngModel)]="reminder.notifications.oneWeekBefore" name="oneWeekBefore"
        [disabled]="!notificationFlag[4]"></ion-toggle>
        
      </ion-item>
      <ion-item>
        <ion-label>Two Weeks Before</ion-label>
        <ion-toggle [(ngModel)]="reminder.notifications.twoWeeksBefore" name="twoWeeksBefore"
        [disabled]="!notificationFlag[5]"></ion-toggle>
        
      </ion-item>
      <ion-item>
        <ion-label>Three Weeks Before</ion-label>
        <ion-toggle [(ngModel)]="reminder.notifications.threeWeeksBefore" name="threeWeeksBefore"
        [disabled]="!notificationFlag[6]"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>One Month Before</ion-label>
        <ion-toggle [(ngModel)]="reminder.notifications.oneMonthBefore" name="oneMonthBefore"
        [disabled]="!notificationFlag[7]"></ion-toggle>
      </ion-item>

       <ion-item>
                <ion-note text-wrap>
                    All * fields are required and atleast one notification must be set. 
                </ion-note>

        </ion-item>  

      <ion-item>
        <ion-grid>
                <ion-row>
                <ion-col col-6>
                    <button ion-button large color="secondary" outline type="submit" 
                    [disabled]="!reminderForm.form.valid || !notificationStatus()">
                    <ion-icon name="checkmark"></ion-icon>
                    </button>
                </ion-col>            
                <ion-col col-6>
                    <button ion-button large color="danger" outline type="button" (click)="cancelReminder()">
                    <ion-icon name="close"></ion-icon>
                    </button>
                </ion-col>
                </ion-row>
            </ion-grid>
        
      </ion-item>
     

    </ion-list>

  </form>

</ion-content>
