<!--
  Generated template for the GalleryModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    
  <ion-title>Gallery</ion-title>
  <ion-buttons end>
      <button ion-button style="text-transform:none;" (click)="delete()" *ngIf="edit">
        <ion-icon name="trash"></ion-icon>
      </button>      
      <button ion-button style="text-transform:none;" (click)="dismiss()">
        Back
      </button>
  </ion-buttons>
    
  </ion-navbar>

</ion-header>


<ion-content>
  
   <ion-slides [initialSlide]="currIndex" *ngIf="slidesFlag">
     <ion-slide *ngFor="let imgItem of imgArr" style="background-color:black">
       <img [src]="imgItem" name="img1" >

     </ion-slide>
   </ion-slides>
   <ion-item *ngIf="!slidesFlag">No photos to display</ion-item> 
  

</ion-content>
